
page-home {
    
    #lols {
        color: red;
        font-size: 20px;
    }
    
    h2 {
        text-align: center;
    }
    #dont{
        color:black;
        font-size: 20px;
    }

    #do{
        color: black;
        font-size: 20px;
    }
    #lol {
       
        
        
        border-bottom: 2px solid orangered;
        background-color: black;
        
      
    }
     #lot {
       
        
        
        border-bottom: 2px solid orangered;
        background-color: black;
        
    }
    #lal{
        float: left;
        width: 49%;
    }
    #lo {
        float: right;
        width: 49%;
    }
    #o {
       
        float: left;
        width: 25%;
     
        
      
    }
    #p{
        border-top: 2px solid black;
        background-color: orangered;
    }
    #q {
        border-bottom: 2px solid orangered;
        background-color: black;
    }
    #r {
        border-top: 2px solid black;
        background-color: orangered;
    }
    #s{
        border-bottom: 2px solid orangered;
        background-color: black;
    }
     #b {
       
        float: right;
        width: 25%;
      
       
        
    }
    #c {
       
        float: right;
        width: 25%;
      
        
      
    }
     #d {
       
        float: right;
        width: 25%;
        
       
        
    }
    #sof {
       
        float: left;
        width: 33%;
        text-align: center;
       
        
    }
    #soft {
       
        float: right;
        width: 33%;
        text-align: center;
        
      
    }
     #softer {
       
        float: right;
        width: 34%;
        text-align: center;
       
        
    }

  

   #up{
       width: 35%;
       margin:auto;
      background-color: black;
      border: 2px solid orangered;
  
   }
   #down {
    width: 35%;
    margin:auto;
   background-color: black;
   border: 2px solid orangered;

}

   h1 {
       text-align: center;
        font-weight: 900;
        
   }
   #so {
    margin-left:160px;
   
   }

   #dawn {
     width: 50%;
     margin:auto;
     border-bottom: 2px solid orangered;
     background-color: black;
   }

   #john {
     width: 100%;
     border: 2px solid orangered;
     background-color: black;
     height: 1%;
   }
   
   #doubt {
    width: 50%;
    margin:auto;
    border-bottom: 2px solid orangered;
    background-color: black;
   }

   
   
}
